/* Styles pour le bouton de retour en haut */
.back-to-top-button {
    position: fixed;
    bottom: 40px;
    right: 40px;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 999;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background-color: transparent;

      img {
        width: 100%;
      }
    }
  }
  
  .back-to-top-button.visible {
    opacity: 1;
    visibility: visible;
  }
  