#section1 {
  background-color: antiquewhite;
  // height: 100vh;

  .picture-profile {
    position: absolute;
    width: 400px;
    height: 600px;
    background-color: aquamarine;
    left: 350px;
    z-index: 10;
  }

  .description-profile {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 600px;
    background-color: azure;
    padding: 1rem;
  }
}

/* Ajout du style pour la classe "active" */
.sidebar button.active {
    background-color: #ff5733; /* Changer la couleur selon vos préférences */
    color: white; /* Changer la couleur du texte selon vos préférences */
  }