#section1 {
  background-color: antiquewhite;

  .picture-profile {
    position: absolute;
    width: 400px;
    height: 600px;
    background-color: aquamarine;
    left: 350px;
    z-index: 10;
  }

  .description-profile {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 600px;
    background-color: azure;
    padding: 1rem;
  }
}
